body {
    background-color: hsl(74, 100%, 39%);
    color: rgb(3, 0, 6);
    width: 940px;
    margin: auto;
    text-align: center;
}

h1 {
    color: brown;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    text-transform: uppercase;
}

h2 {
    color: darkcyan;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}
