body {
    background-color: #73AADA;
    color: #7B1FDB;
    font-family: 'Times New Roman', Times, serif;
}

.background
{
    width: 58%;
    height: 20vh;
    background-image:url(cookies.png);
    box-shadow: 10px 10px 2px green inset;
    border-radius: 15px 50px 30px 5px;
    padding: 5px;
}

*{
    box-sizing: border-box;
}

#container{
    width: 95vh;
    height: 60vh;
    margin: 0 auto;
    background-color: #73AADA;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;;
}

.wrapper > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.header {
    float: left;
    background: tomato;
    height: 200px;
}

.main {
    display: flex;
    flex: 1;
}

.unordered {
    background: greenyellow;
    padding: 3em 0 3em 0;
}

.ordered {
    background: yellow;
    padding: 3em 0 3em 0;
}

.paragraph {
    background: plum;
    height: 200px; 
    padding: 3em 0 3em 0;
}

/* Responsive */

@media all and (min-width: 800px) {
    .unordered {
        flex: 1;
    }
    .ordered {
        flex: 2;
    }
}